$todoContainerColor: rgba(12, 12, 12, 0.849);
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.hero{
    background-image: url(https://cdn.bhdw.net/im/new-zealand-natural-landscape-wallpaper-2934_w635.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    overflow:hidden;
    display: grid;
    grid-template-rows: 50px 4fr 2fr 100px;
    transition: all .75s;
    color: white;
}
.nav{
    list-style: none;
    align-items: center;
}
nav{
    width: 100vw;
    justify-content: flex-end;
    padding: 0 20px;
}
#wrapper{
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}
#time{
    font-weight: 700;
    font-size: 2.5rem;
}
#greetings-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    font-size: 1.2rem;
    text-align: center;
}
#todo-display{
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
#quote-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: .8rem;
    padding: 0 20%;
    font-style: italic;
    justify-content: center;
    align-items: center;
    p{
        justify-content: center;
    }
}
#todo-widget{
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate(0 ,-50%);
    transition: all 0.5s;
}
#todo-sidebar{
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    text-orientation: sideways-right ;
    text-align: center;
    background-color: $todoContainerColor;
    padding: 50px 5px;
    font-size: 1.2rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 150px;
    cursor: pointer;
    span{
        text-orientation: upright;
    }
    transition: all 0.5s;
}
.delete-icon{
    cursor: pointer;
}
#todo-container{
    overflow: auto;
    position: relative;
    background-color: $todoContainerColor;
    min-height: 200px;
    height: 85vh;
    padding: 20px;
    display: none;
    min-width: 200px;
    width: 300px;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    grid-template-rows: 40px 30px;
    justify-items: center;
    align-items: center;
    transition: all 1s;
}
ul > li{
    list-style: none;
}
#todo-title{
    padding-bottom: 10px;
    position: fixed;
}
#add-todo{
    display: flex;
    height: 40px;
    border-radius: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
}
#add-todo-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 80%;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    span{
        color: inherit;
    };
}
#add-todo-input{
    display: flex;
    padding: 10px 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    *{
        color: white;
    }
    input{
        width: 100%;
        background-color: black;
        border: none;
    }
    input:focus{
        outline: none;
    }
    textarea{
        height: auto;
        background: transparent;
        resize: none;

    }
    span{
        width: 100%;
        padding: 10px;
        cursor: auto;
    }
    button{
        border: none;
        background-color: transparent;
        align-self: flex-end;
        margin: 10px;
        cursor: pointer;
    }
}
#todo-list-wrapper{
    width: 100%;
}
.todo-item{
    display: grid;
    justify-content: center;
    grid-template-columns: 30px 190px 30px;
    height: auto;
    width: 100%;
    overflow: hidden;
    justify-items: center;
    margin: 10px 0;
    padding: 10px 0;
    align-items: center;
    input{
        width: 20px;
        height: 20px;
        outline: 2px;
    }
    p{
        padding: 5px;
        max-width: 100%;
        width: 100%;
    }
    p:focus{
        outline: rgb(221, 218, 218);
    }
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.textarea[contenteditable]:empty::before {
    content: "Add todo";
    color: gray;
}
.textarea:focus{
    outline: none;
}
#add-todo-input:focus{
    border: white 2px solid;
}
// user modal
#user-name{
    cursor: pointer;
}
#user-name:hover{
    text-decoration: underline;
}
#user-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #2929294d;
    z-index: 1;
    top: 0%;
}
#user-modal>*{
    color: black;
}
#user-container{
    display: grid;
    grid-template-rows: 1fr 100px;
    position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}
.header{
    padding: 5px;
    margin: 5px;
}
#modal-close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    float: right;
    right: 0%;
    top: 0%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
//  todo list scroll bar
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #292929; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #707070; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.active{
    display: flex !important;
}
.rotate90{
    transform: rotate(90deg);
}
.hidden{
    display: none !important;
}