$todoContainerColor: rgba(12, 12, 12, 0.849);
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: rgb(255, 255, 255);
}
.hero{
    background-image: url(https://cdn.bhdw.net/im/new-zealand-natural-landscape-wallpaper-2934_w635.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    overflow:hidden;
    display: grid;
    grid-template-rows: 50px 4fr 2fr 100px;
}
.nav{
    list-style: none;
    align-items: center;
}
nav{
    width: 100vw;
    justify-content: flex-end;
    padding: 0 20px;
}
#wrapper{
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}
#time{
    font-weight: 700;
    font-size: 2.5rem;
}
#greetings{
    font-size: 1.2rem;
}
#todo-display{
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
#qoutes{
    justify-content: center;
}
#todo-widget{
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate(0 ,-50%);
}
#todo-sidebar{
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    text-orientation: sideways-right ;
    text-align: center;
    background-color: $todoContainerColor;
    padding: 50px 5px;
    font-size: 1.2rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 150px;
    cursor: pointer;
    span{
        text-orientation: upright;
    }
}
#todo-container{
    background-color: $todoContainerColor;
    min-height: 200px;
    height: 85vh;
    padding: 20px;
    display: none;
    min-width: 200px;
    width: 300px;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    grid-template-rows: 40px 30px;
    justify-items: center;
    align-items: center;
    span{
        cursor: pointer;
    }
    ul{
        
    }
}
ul > li{
    list-style: none;
}
#todo-header{
    padding-bottom: 10px;
}
#add-todo{
    display: flex;
    height: 40px;
    border-radius: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
}
#add-todo-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    span{
        color: inherit;
    };
}
#add-todo-input{
    display: flex;
    // background-color: $todoContainerColor;
    padding: 10px 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    *{
        color: white;
    }
    input{
        width: 100%;
        background-color: black;
        border: none;
    }
    input:focus{
        outline: none;
    }
    textarea{
        height: auto;
        background: transparent;
        resize: none;

    }
    span{
        width: 100%;
        padding: 10px;
        cursor: auto;
    }
    // textarea{
    //     height: auto;
    //     background: transparent;
    //     resize: none;
    // }
    button{
        border: none;
        background-color: transparent;
        align-self: flex-end;
        margin: 10px;
        cursor: pointer;
    }
}
.textarea[contenteditable]:empty::before {
    content: "Add todo";
    color: gray;
}
.textarea:focus{
    outline: none;
}
#add-todo-input:focus{
    border: white 2px solid;
}
#quotes{
    text-align: center;
    font-size: .8rem;
    padding: 0 20%;
    font-style: italic;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.active{
    display: flex !important;
}
.rotate90{
    transform: rotate(90deg);
}
.hidden{
    display: none !important;
}